name: Releaser

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  npm:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Setup Pantry
        uses: home-lang/pantry-setup@v1

      - name: Install Dependencies
        run: bun install

      - name: Publish
        run: pantry npm:publish --access public
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Attach Binaries
        uses: stacksjs/action-releaser@v1.2.8
        with:
          files: |
            packages/dtsx/bin/dtsx-linux-x64.zip
            packages/dtsx/bin/dtsx-linux-arm64.zip
            packages/dtsx/bin/dtsx-windows-x64.zip
            packages/dtsx/bin/dtsx-darwin-x64.zip
            packages/dtsx/bin/dtsx-darwin-arm64.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
